<div class="container-fluid text-sm-center p-5 bg-light rounded-5">
  <h2 class="display-4 mb-5">Welcome to the Friend List Application</h2>
  <h3>This app allows you to create your own list of friends with their phone number and email address.</h3>
  <h4 class="mt-4 mb-3">Sign in to create your own friends list! :)</h4>
  <p>
    <%= link_to 'Sign in', new_user_session_path, class: "btn btn-dark" %>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-dark" %>
  </p>

</div>